[submodule "plapp-gardenerservice"]
	path = plapp-gardenerservice
	url = git@github.com:TAASPlapp/plapp-gardenerservice
[submodule "plapp-frontend-web"]
	path = plapp-frontend-web
	url = git@github.com:TAASPlapp/plapp-frontend-web
[submodule "plapp-frontend-android"]
	path = plapp-frontend-android
	url = git@github.com:TAASPlapp/plapp-frontend-android
[submodule "plapp-auth-service"]
	path = plapp-auth-service
	url = git@github.com:TAASPlapp/plapp-auth-service.git
